.swiper {
  width: 100%;
  height: 100%;
  padding-top: 1rem !important;
}
.swiper .swiper-wrapper {
  display: flex;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
 }
.swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .Overlay-Text {
  bottom: 30px;
  left: 20px;
  position: absolute;
}
.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
}
.vip-container {
  height: 171px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.vip-container > img {
  width: 100%;
  height: 171px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.vip-container > .overlay-text {
  position: absolute;
  left: 50px;
  bottom: 38px;
}
.vip-container > .overlay-text > h2 {
  font-size: 38px;
  font-weight: bold;
  color: white;
  letter-spacing: normal;
  line-height: normal;
}
.vip-container > .overlay-text > a {
  border: 1px solid white;
  background-color: white;
  padding: 8px 28px;
  color: black;
  display: inline-block;
  margin: 8px 0;
}
.vip-container > .overlay-text > a:hover {
  background-color: rgb(54, 0, 29, 0.8);
  color: white;
  transition: all 0.3s ease-in-out;
}
.featured-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: auto;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #bda960 !important;
}
.swiper-pagination-progressbar {
  background: rgb(54, 0, 29, 0.8);
}
.featured-collection > .collection-item > h2 {
  text-align: center;
  text-transform: uppercase;
  color: #bda960;
  font-size: 18px;
  letter-spacing: normal;
  line-height: normal;
  padding: 10px;
  font-weight: 500;
}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 1px !important;
}
.swiper-button-next, .swiper-button-prev {
  color: #bda960 !important;
}